$color-main: #d9d9d9;
$header-font: "Inter", sans-serif;
$title-font: "Crimson Pro", serif;
$button-green: #92da67;
$button-red: #da8967;

* {
    font-size: 12px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100vh;
}

.header {
    background: $color-main;
    height: 12.625rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    h1 {
        color: #000;
        font-family: $header-font;
        font-size: 4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    button {
        width: 13.6875rem;
        height: 5.3125rem;
        flex-shrink: 0;
        border-radius: 0.625rem;
        background: $button-green;
        border: none;
        color: #000;
        &:hover {
            background-color: #000;
            color: $button-green;
            cursor: pointer;
        }
        font-family: $header-font;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.content {
    display: grid;
    justify-content: center;
    margin: 2rem;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, 27rem);
    grid-template-rows: repeat(auto-fit, 30rem);
    grid-auto-columns: 27rem;
    grid-auto-rows: 30rem;

    .book {
        width: 27rem;
        height: 30rem;
        border-radius: 2.375rem;
        background: $color-main;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .info {
            gap: 1rem;
            display: flex;
            flex-direction: column;
            h3:first-of-type,
            #author {
                font-family: $title-font;
                font-size: 2.5rem;
                font-weight: 400;
            }
        }

        i.fi {
            align-self: end;
            margin-right: 30px;
            font-size: 2rem;
            &:hover {
                color: #ffffff;
                cursor: pointer;
            }
        }

        h1 {
            color: #000;
            font-family: $title-font;
            font-size: 4rem;
            font-weight: 400;
            padding-bottom: 10px;
        }

        h3 {
            color: #000;
            font-family: $header-font;
            font-size: 2rem;
            font-weight: 400;
        }

        button {
            width: 10.625rem;
            height: 4.12388rem;
            flex-shrink: 0;
            border-radius: 0.625rem;
            background: $button-green;
            border: none;
            &:hover {
                background-color: #000;
                color: $button-green;
                cursor: pointer;
            }
            font-family: $header-font;
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}
